// Default variables
$transition-time: .3s;
$shadow: 0px 4px 25px rgba(212, 217, 232, 0.45);

// Colors
$color-red: #ff0000;
$color-red-secondary: #800000;
$color-white: #fff;
$color-green: #2b997d;
$color-green-secondary: #3aab8e;
$color-blue: #265ec4;
$color-blue-secondary: #2761cc;
$color-gray: #ccd2e3;
$color-gray-secondary: #9799b1;
$color-black: #08090b;

// Z-index
$z-index-modal: 99;
$z-index-menu: 999;